extends ../admin_layout

block body
  form(action='/posts/update/'+post.id, method='post', enctype='multipart/form-data')
    .form-group
      label(for='title') Заголовок
      input.form-control(type='text', name='title', value=post.title)
    hr
    .form-group
      label(for='body') Полный текст статьи
      textarea#ckalala(name='body')= post.body
    .form-group
      label(for='preview') Превью текст статьи
      textarea#lala(autofocus='autofocus', maxlength='140', name='preview')= post.preview
    .form-group
      p Выберите теги статьи
      if tags
        ul.tags
          each tag in tags
            li.tag
              - checked = false
              each p_tag in post_tags
                if p_tag.id == tag.id
                  - checked = true
              input(type='checkbox', name='tags[]', value=tag.slug, checked=checked)
              =tag.name
    .form-group.form-inline
      p Или добавьте новый
      input.form-control(type='text', id='new_tag_name', placeholder='Название нового тега')
      input.form-control(type='text', id='new_tag_slug', placeholder='Slug нового тега (латиницей, без пробелов)')
      br
      button.btn.btn-default(id='new_tag') Создать
    .form-group
      label(for='age_id') Выберите десятилетие
      select(name='age_id')
        each age in ages
          option(value=age.id)= age.title

    //- input(type='hidden', name='_csrf', value=_csrf)
    input.btn.btn-success(type='submit', value='Сохранить')
    script.
      CKEDITOR.replace('ckalala');
      CKEDITOR.replace('lala');
